<html>
    <head>
        <title>Login Example</title>
    </head>
    <body>
        {% if user.is_active %}
            <a>{{user.username}}</a>
            <input type="button" value="개인정보 수정" onclick="location.href='{% url "edit_user_info" %}'"/>
            <input type="button" value="로그아웃" onclick="location.href='{% url "logout" %}'"/>
      
        {% else %}
            <input type="button" value="로그인" onclick="location.href='{% url "login_page" %}'"/>
            <input type="button" value="회원가입" onclick="location.href='{% url "join_page" %}'"/>
        {% endif %}
    </body>
</html>